<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>视频采集</title>
		<style>
			
			a{color: blue;}
			a:hover{ color: #ff6600;;}
		</style>
	</head>

	<body>

		<p>
			<a href="/index.php/index/revip/list">采集VIP列表;</a> 已入库 （{$count.total}）  <a href="/index.php/index/revip/lst">查看视频列表</a>
		</p>		
		<p>
			<a href="/index.php/index/revip/get_info">采集VIP视频文件地址;</a> （{$count.video_empty}）未采集
		</p>
		<p>
			下载视频: &nbsp;&nbsp;
			<a href="/index.php/index/revip/download?count=10">10</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/index.php/index/revip/download?count=30">30</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/index.php/index/revip/download?count=50">50</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/index.php/index/revip/download?count=100">100</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			（{$count.video_download}）个视频未下载集
		</p>
		
		<p>
			<a href="/index.php/index/revip/log">删除日志文件</a>
		</p>
		<p>
			<a href="/index.php/index/revip/test">测试插件是否正常</a>
		</p>
		
	</body>

</html>